*{
    font-size: 10px;
    font-family:Poppins;
    padding: 0px;
    margin:0px;
}
div{
    font-size: 2rem;
    
}
nav{
    display: flex;
    justify-content: space-evenly;
    position: relative;
    top:2rem;
    background-color: #fca311;
    height: 8vh;
    align-items: center;
    /* border-radius: 5rem; */
    width:80%;
    position: relative;
    left:10%;
    
}
ul{
    display: flex;
}
li{
    font-size: 2rem;
    list-style-type:none;
    margin-right:3rem;
}
img{
    border-radius: 50%;
    height: 30vh;    
}
main{
    position: relative;
    top:10vh;
    /* border:1px solid red; */
    left:10%;
    display: flex;
    justify-content: space-around;
    width: 80%;
}
#side-bar p{
    font-size: 7rem;
}
#prof{
    font-size:2rem !important;
    /* margin-left: 7rem; */
}